# ignore file with wildcard anywhere
*.swp
*.pyc
*.class
*.iml
*.jar
*.log
*.so.tmp
*.flattened-pom.xml
.idea
.release.properties

# ignore file with specifiy name anywhere
.DS_Store
.classpath
nohup.out
custom_env.sh
custom_env_mac.sh
derby.log
dependency-reduced-pom.xml
pom.xml.releaseBackup
yarn.lock
ut_dir
package-lock.json

# ignore all sub `/bin` and `/build` directory
**/build/
**/target/
**/dist/
**/log/

# ignore project file
.cproject
.project
.cache
.settings/
**/.idea/
**/.vscode/